<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выбор  раздела математики / Choosing a math field</title>
    <link rel="stylesheet" href="css/auth.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
</head>
<body>
<div class="container" align="center">
    <h1>Регистрация</h1>
    <hr>
    <p>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Введите Электроннный адресс" required minlength="5" maxlength="32">
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Введите пароль" required minlength="5">
    </p>
    <p>
        <label for="password-repeat">Repeat password</label>
        <input type="password" placeholder="Повторите пароль" id="password-repeat" required minlength="5">
    </p>
    <button type="button" onclick=signup()>Зарегистрироваться</button>

    <p>Уже есть аккаунт? / Already have an account? <a href="http://localhost:8080/signin" target="_self">Войти / Sign in</a>.</p>
</div>
</body>
</html>