<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signin</title>
    <link rel="stylesheet" href="css/auth.css">
</head>
<body>
<div class="container" align="center">
    <form class="form-signin" method="post">
        <h1 class="form-signin-heading">Авторизация</h1>
        <hr>
        <p>
            <label for="email">Email</label>
            <input type="text" id="email" name="Email" class="form-control" placeholder="Электронный адресс" required minlength="5" maxlength="32">
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Пароль" required minlength="5">
        </p>
        <button type="button">Sign in / Войти</button>

        <p>Ещё нет аккаунта? / Doesn't have account? <a href="http://localhost:8080/signup" target="_self">Зарегистрироваться / Sign up</a>.</p>
    </form>
</div>
</body>
</html>